/* Arquivo style.css */

html {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.imagem-container {
  position: relative;
  display: inline-block;
  cursor: pointer; 
}

.imagem-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: -15px; /* Posiciona a legenda abaixo da imagem */
  left: 300%; /* Centraliza horizontalmente */
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */

}

.imagem-container:hover .overlay {
  opacity: 1;
}

fieldset {
  margin-bottom: 20px; /* Adiciona espaço entre os fieldsets */
}

/*menu CSS*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 1;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 1;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 2;
}

.dropdown-content a:hover {
  background-color: #ddd;
  z-index: 2;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 2;
}

.green-section {
  background-color: #008029; /* Cor de fundo verde */
  height: 100px; /* Altura desejada da área verde */
  width: 100%; /* Largura total da tela */
  position: relative; /* Posição relativa para que o logotipo seja posicionado dentro desta área */
  top: 0;
}


/* Estilo para o logotipo */
.logo img {
  display: inline-block;
  position: absolute; /* Posição absoluta dentro da área verde */
  top: 50%; /* Ajusta a posição verticalmente */
  left: 11.3%; /* Ajusta a posição horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o logotipo */
  max-width: 100%; /* Garante que o logotipo não ultrapasse a largura da área verde */
  max-height: 100%; /* Garante que o logotipo não ultrapasse a altura da área verde */
}

.imagem-arredondada {
  border-radius: 50%;
}

.container-center {
  text-align: center; /* Centraliza o conteúdo dentro do container */
}

.buttons {
  background-color: #289528; /* Cor de fundo verde */
  height: 50px; /* Altura desejada da área verde */
  width: 100%; /* Largura total da tela */
  top: -10px;
  border: none;
}

.buttons-menor {
  background-color: #289528; /* Cor de fundo verde */
  height: 40px; /* Altura desejada da área verde */
  width: 99%; /* Largura total da tela */
  margin-left: 10px; /* Centraliza o botão */
  margin-right: 10px; /* Centraliza o botão */
  top: -10px;
  border: none;
}

.p-white {
  color: white;
}

li input[type="text"],
li input[type="email"],
li input[type="tel"],
li select {
  width: 100%; /* Define a largura como 100% */
  height: 40px;
  box-sizing: border-box; /* Inclui a largura do preenchimento e da borda na largura total */
  margin-top: 2px; /* Adiciona espaço acima */
  margin-bottom: 2px; /* Adiciona espaço abaixo */
}

.campos {
  background-color: #e4e2e2; /* Cor de fundo white */
  height: 60px; /* Altura desejada da área verde */
  width: 100%; /* Largura total da tela */
  top: -10px;
  border: none;
}

.campos-maior {
  background-color: #e4e2e2; /* Cor de fundo white */
  height: 115px; /* Altura desejada da área*/
  width: 100%; /* Largura total da tela */
  top: -10px;
  border: none;
}

.bordas {
  border-top-width:px;
  border-top-color: #00c76a;
  border-top-style:dotted;

  border-right-width:px;
  border-right-color: #610000;
  border-right-style:dotted;

  border-bottom-width:px;;
  border-bottom-color: #1c0783;
  border-bottom-style: dotted;

  border-left-width:px;
  border-left-color: black;
  border-left-style: dotted;

  line-height: 0.1;
}